# build output
dist/
.output/
storybook-static/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# test coverage
coverage/

# test results
test-results/
playwright-report/
playwright/.cache/

# environment variables
.env
.env.productiong

# macOS-specific files
.DS_Store

.idea

.astro