---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Modal } from 'accessible-astro-components';
import { Icon } from 'astro-icon';
---

<Layout title="tubone24">
	<main>
	    <div class="header-container">
	      <h1><span class="text-gradient">Yu Otsubo</span></h1>
		  <img class="myicon" src="/icon.png" alt="my icon" />
		</div>
		<p class="instructions">
			<strong>Full Cycle Engineer</strong><br />
			<strong class="second">Guitarist / Composer</strong>
		</p>
		<div class="contact">
		    <button class="cool-button" id="open-qr"><Icon class="icon" name="ic:sharp-qr-code-2" />Open My QR Code</button>
            <a class="cool-button2" href="/contact.vcf" download><Icon class="icon" name="ic:baseline-mail" />Download Contact</a>
		</div>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://blog.tubone-project24.xyz/"
				title="tubone BOYAKI"
				body="A blog that provides information on IT technology"
				icon="icomoon-free:blog"
			/>
			<Card
				href="https://portfolio.tubone-project24.xyz/"
				title="My Portfolio"
				body="My Portfolio site"
				icon="mdi:account"
			/>
			<Card
				href="https://tubone24.github.io/resume/"
				title="CV (Resume)"
				body="This is a resume (CV) summarizing my background"
				icon="mdi:resume"
			/>
			<Card
				href="https://tubone24.github.io/boyakifm/"
				title="BOYAKI FM"
				body="This is a radio site about technology and music"
				icon="mdi:radio-fm"
			/>
			<Card
				href="https://twitter.com/meitante1conan"
				title="Twitter"
				body="Twitter"
				icon="mdi:twitter"
			/>
			<Card
				href="https://github.com/tubone24"
				title="GitHub"
				body="GitHub"
				icon="mdi:github"
			/>
		</ul>
        <Modal
          triggerId="open-qr"
          title="My QR Code"
        >
          <img class="qr" src="/qr.png" alt="QR Code" />
        </Modal>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	h2 {
		font-size: 2rem;
		font-weight: 500;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.instructions .second {
		color: rgb(var(--accent-second));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}

	.header-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        align-items: center;
    }

    .header-container .icon {
       margin-right: 10px;
       width: 19px;
       margin-right: 10px;
       vertical-align: middle;
    }

    .header-container a {
      margin-left: 10px;
    }

    .header-container img {
        width: 20%;
        object-fit:cover;
    }

	.contact {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
    }

    .qr {
      align-self: center;
    }
    .cool-button {
      display: block;
      margin: 0 10px;
      background-image: linear-gradient(45deg, rgb(var(--accent)), #6FD740 30%, rgba(var(--accent), 40%));
      color: #fff;
      text-align: center;

      text-decoration: none;
      padding: 8px 16px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      cursor: pointer;
    }

    .cool-button:hover {
       background-color: rgba(var(--accent), 12%);
    }
    .cool-button .icon {
       margin-right: 10px;
       width: 19px;
       margin-right: 10px;
       vertical-align: middle;
    }
    .cool-button2 {
      display: block;
      margin: 0 10px;
      background-image: linear-gradient(45deg, rgb(var(--accent)), #6FD740 80%, rgba(var(--accent), 20%));
      color: #fff;
      text-align: center;

      text-decoration: none;
      padding: 8px 16px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      cursor: pointer;
    }

    .cool-button2:hover {
       background-color: rgba(var(--accent), 12%);
    }
    .cool-button2 .icon {
       margin-right: 10px;
       width: 19px;
       margin-right: 10px;
       vertical-align: middle;
    }
</style>
